<!DOCTYPE html>
<html lang="en">
<head>

<style>
body{
    background-image: url(images/login_image1.jpg)
}
#hello{
	color:black;
	padding:1px;
}
#bdr{
   	border:1px solid white;
	background-color:;
	padding:1cm;  
	border-radius:10%;
	padding-top: cm;
}
#submit{
    width: 260px;
    height:40px;
	margin-left:cm;
	font-size:16px;
	font-family:Lucida Console;
	
	}
#font{
	font-family:Courier New;
}	
#color{
	color:white;
	
}
</style>
<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">

  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="js/angular.js"></script>
  <script src="js/controllers.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

</head>



<body>
 <div class="container-fluid">
 <div class ="row">
	<div class="jumbotron" id="hello">
    <h2 class="container">My first Bootstrap website!</h2>      

  </div>
 </div><br>
 
<div ng-app="socialNetwork"  class="row">
<div ng-controller="personCtrl">
   <div  ng-controller="LoginController">
    <div class="col-sm-7 col-md-7 col-lg-7" ></div>
    
	<div class="col-sm-3 col-md-3 col-lg-3"  id="bdr" >
		<form class="form-group has-success">
		<div ng-show="myVar">
		<!--<div><img src="1.jpg" alt="login" width="100" height="100" Style="margin-left:3.5cm;">
		</div><br>-->
			<h1 class="text-center" style="color:white" id="font"><p class="glyphicons glyphicons-user-key"></p> Login</h1>
			<div class="form-group"><input type="email" class="form-control " id="email"  placeholder="Enter Email" ng-model="userdetails.username"></div>
			<div class="form-group"><input type="password" class="form-control" id="pwd" placeholder="Password" ng-model="userdetails.password"></div>
			<div class="checkbox"><label id="color"><input type="checkbox" > Remember me</label></div>
			<button type="submit" class="btn btn-success" ng-click="validate(userdetails)" id="submit" >Login </button>
			<div style="color:white; margin-left:cm;"><br>Don't have an account?
				<a id="link-5" name="sign_up" ng-click="toggle()" style="color:darkskyblue"> Sign up</a></div>
<h1>{{errorMsg}}</h1>dfdfd
		</div>
			

        <div ng-show="!myVar">
		<h1 style="color:white;margin-left:2cm" id="font">Signup</h1>
		<div class="form-group" >
				<input type="text" class="form-control input lg" id="text" ng-model="userSignUp.name" placeholder="Name">
			</div>
			<div class="form-group">
				<input type="email" class="form-control" id="email" placeholder="Email">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" id="pwd" placeholder="Password">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" id="pwd" placeholder=" Confrom Password">
			</div>
			<button type="submit" class="btn btn-success" ng-click="registerUser(userSignUp)" id="submit" >Sign up </button>
			<div id="color"> <br> Already registered?
					<a id="link-5" name="sign_in" ng-click="toggle()"> Sign In</a><div>
			
			</form>	
						<h1style="color:black">{{response}}</h1>dfdfd	
			</div>
			</div>
			</div>
			
	<div class="col-sm-3 col-md-3 col-lg-3"></div>
</div><br>
	<!--.................................Sign in.............................................-->	
	<div class="row">
    <div class="col-sm-5 col-md-5 col-lg-5" "></div>
    <div class="col-sm-4 col-md-4 col-lg-4" style="background-color:" >
		
				
			</div>
		<div class="col-sm-3 col-md-3 col-lg-3" style="background-color:;">
     
    </div>
	</div>	
</div>
 </div> 
	
</body>
</html>
