
<style>
#justify{
    text-align: justify;
    text-justify: inter-word;
    padding:right:5cm;
}
#status{
	margin-left:0.5cm; 
	width:50%;
	background-color:lavender;
	border-radius: 2px;
	border:px solid ;
}
</style>
<div>
	<div ng-controller="customersCtrl">
		<div ng-controller="CommentController">
			<div style="margin-left:5cm">
					<div class="panel panel-default" style="width:70%">
						<div class="panel-heading" style="font-size:130%">
							<a href class="glyphicon glyphicon-pencil" >Status</a> 
							<a href class="glyphicon glyphicon-picture" style="margin-left:.5cm">Photo</a>
							<a href class="glyphicon glyphicon-facetime-video" style="margin-left:.5cm">Post</a>
							<textarea data-provide="markdown" rows="4" class="form-control custom-control"
							style="w idth:100%;margin-top:0.3cm;" ng-model="status" placeholder="Write Your Status" ></textarea>
								<input type="submit" name="post" class="btn btn-primary  btn-sm" style="margin:3px 0px 0px 350px;"
									ng-click="addTimeline(status,userName)">
						</div>
					</div>
				<div ng-repeat="t in timelines">
						<div class="panel panel-default" style="width: 70%">
							<div class="panel-footer">
								<div class="row" style="display:inline">
								<img src="images/nanu.JPG" style="margin-left:0.2cm;"
									width="10%" height="10%">
								<b><a href>{{t.userName}}</a></b>
						
							</div>	
								<h5 style="font-size:120%;" id="justify">{{t.status}}</h5>
								<div ng-show="{{t.image}}">
									<img width="100%" height="60%" src="image?name={{t.image}}"/>
								</div>
								<div class="row" style="magrin-top:0.2cm">
									 <a href="#" ng-click="likeTimeline(t.id,username)" style="magrin-top:0.2cm" >
          								<span class="glyphicon glyphicon-thumbs-up"> </span>Like
        							</a> {{t.userLikes.length}}
									<a href="#">
          								<span class="glyphicon glyphicon-share"></span>share
        							</a>
									
								</div>
							</div>

							<div class="panel-body">
							<h4 style="margin-left:1cm" class="glyphicon glyphicon-comment">Comments</h4>
								<div ng-repeat="comment in t.comments">
								  
									<img src="images/nanu.JPG" style="margin-left:0.2cm;float:left"
										width="7%" height="7%">
									<div><a href>rajeh nayak</a>-{{comment.text}} {{comment.username}}</div>
										<a href ng-click="likeComment(comment.id,t.id,username)">Like </a>{{comment.userLikes.length}}
									</div>
								<h3 style="margin-left:1.4cm;">{{statusComment.comment}}</h3>
								<input type="text" placeholder="Enter Comment"
									ng-model="statusComment.comment" style="width: 80%;"> 
								<input type="submit" class="btn btn-primary  btn-sm "
									ng-click="userComment(statusComment,t,t.userName)">
							</div>
							
						</div>
					</div>


			</div><!-- class=contaniner -->
		</div><!-- ng-controller -->
	</div><!-- ng-controller -->
</div><!-- ng-app -->



